body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 44px;
  line-height: 54px;
}

input {
  background:#FFFFFF;
  border: none;
}

.feedback-form {
  width: 100%;
  overflow: auto;
  margin-bottom: 117px;
  margin-top: 40px;
}

.address-button {
  float: left;
  height: 54px;
  border: 0;
  background-color:rgba(168, 134, 61, 1);
  color: white;
  padding: 0 37px;
  font-size: 30px;
  line-height: 54px;
}

.email-input {
  float: left;
  height: 54px;
  width: 560px;
  padding-left: 36px;
}

input::placeholder {
  float: left;
  font-size: 30px;
  line-height: 54px;
  color: rgba(153, 153, 153, 1);

}

.yellow {
  background: #FAC960;
}

.yellow h2 {
  color: rgba(138, 109, 47, 1);
}

.container {
  width: 100%;
}

.header {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 18px 0 22px 0;
  width: 943px;
  height: 78px;
}

.logo {
  float: left;
  width: 130px;
  height: 37px;
}

.logo>div {
  float: right;
  font-size: 32px;
  line-height: 22px;
}

.social-media-icons {
  float: right;
}

.social-media-icons>img {
  margin-left: 21px;
}

.gray {
  background-color: #F2F2F2;
}

.promo-card-content {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

.content {
  width: 100%;
}


.promo-card {
  float: left;
  width: 100%;
}

.promo-card-content {
  width: 960px;
  margin: 0 auto;
}

.input {
  width: auto;
  padding: 250px 117px;
  margin: 330px 64px;
}